@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap");
:root {
  --clr-light-gray: #d1d2d4;
  --clr-gray: #636262;
  --clr-blue: #3b568c;
  --clr-red: #d96262;
  --clr-light-red: #fa9494;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

body {
  font-family: "Raleway", sans-serif;
  max-width: 500px;
  margin: 0 auto;
  background-color: var(--clr-light-gray);
  line-height: 1.3;
}

button {
  border: 0;
  padding: 0;
  width: 50px;
  height: 50px;
}

input {
  border: none;
  outline: none;
}

p {
  font-weight: 400;
  font-size: 14px;
}

h1 {
  font-weight: 700;
  font-size: 2rem;
}

h3 {
  font-size: 0.8rem;
}

.container {
  width: 85%;
  margin: 0 auto;
}

.btn {
  border-radius: 100vw;
  font-size: 1.65rem;
  display: -ms-grid;
  display: grid;
  place-items: center;
  background-color: var(--clr-red);
  color: white;
  cursor: pointer;
}

.split-1 > * + * {
  margin-top: 1rem;
}

.split-half > * + * {
  margin-top: 0.4rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.head {
  text-transform: uppercase;
  font-weight: 600;
  color: #a7a7a7;
}

.attr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.5rem;
}

.attr .heart {
  color: var(--clr-red);
  font-size: 18px;
  -webkit-animation: heartbeat 3000ms ease-in-out infinite;
          animation: heartbeat 3000ms ease-in-out infinite;
}

.attr .name {
  font-weight: 600;
}

.pulse::after {
  -webkit-animation: pulse 900ms ease-in-out infinite;
          animation: pulse 900ms ease-in-out infinite;
}

.dict-main {
  background-color: var(--clr-blue);
  padding-top: 5rem;
  padding-bottom: 3rem;
  color: white;
}

.search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2.5rem;
}

.search-bar .word-input {
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  padding-left: 1rem;
  border-radius: 0.3125rem;
  margin-right: 1rem;
  width: 12.5rem;
}

.the-word {
  text-transform: capitalize;
}

.pos {
  text-transform: capitalize;
  font-style: italic;
  color: var(--clr-light-red);
  font-weight: 500;
}

.pronunciation {
  font-weight: 600;
}

.definition-others {
  height: 0rem;
  opacity: 0;
  -webkit-transition: height 500ms linear, opacity 1100ms ease-in-out, -webkit-transform 500ms ease-in-out;
  transition: height 500ms linear, opacity 1100ms ease-in-out, -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, height 500ms linear, opacity 1100ms ease-in-out;
  transition: transform 500ms ease-in-out, height 500ms linear, opacity 1100ms ease-in-out, -webkit-transform 500ms ease-in-out;
  -webkit-transform: translateY(3rem);
          transform: translateY(3rem);
}

.definition-others .head {
  color: #c59797;
}

.show .definition-others {
  height: 12rem;
  opacity: 1;
  -webkit-transform: translateY(0rem);
          transform: translateY(0rem);
}

.show + .more-definition {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.more-definition {
  position: absolute;
  right: 0;
  bottom: -4.5625rem;
  z-index: 5;
  -webkit-transition: -webkit-transform 750ms ease-in-out;
  transition: -webkit-transform 750ms ease-in-out;
  transition: transform 750ms ease-in-out;
  transition: transform 750ms ease-in-out, -webkit-transform 750ms ease-in-out;
}

.more-definition::after {
  content: " ";
  background-color: var(--clr-red);
  opacity: 0;
  position: absolute;
  border-radius: 100vw;
  z-index: -1;
  top: 0;
  -webkit-transform: scale(1);
          transform: scale(1);
  bottom: 0;
  left: 0;
  right: 0;
}

.dict-extra {
  padding-top: 4rem;
  padding-bottom: 2.5rem;
  background-color: white;
  -webkit-box-shadow: 8px 0 10px -9px var(--clr-gray), -8px 0 10px -9px var(--clr-gray);
          box-shadow: 8px 0 10px -9px var(--clr-gray), -8px 0 10px -9px var(--clr-gray);
}

.dict-extra .head {
  color: #a7a7a7;
}

.cards:not(:last-child) {
  border-bottom: 1px solid var(--clr-light-gray);
  padding-bottom: 2rem;
}

.card {
  padding: 0.5rem 1rem;
  border-top: 2px solid whitesmoke;
  -webkit-box-shadow: 8px 8px 10px -9px var(--clr-light-gray), -8px 8px 10px -6px var(--clr-light-gray);
          box-shadow: 8px 8px 10px -9px var(--clr-light-gray), -8px 8px 10px -6px var(--clr-light-gray);
  text-transform: capitalize;
}

@-webkit-keyframes heartbeat {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes heartbeat {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes pulse {
  0% {
    opacity: 0.8;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@keyframes pulse {
  0% {
    opacity: 0.8;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}
/*# sourceMappingURL=main.css.map */